################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DLL/StutterFixDLL/x64
/.gitignore
/.gitignore
